@media (max-width: 480px) {
    .home .header h1 {
        font-size: 3.5em;
        line-height: 92px;
    }
}

@media (min-width: 768px) and (min-height: 1024px) {
    .home .header {
        height: 40vh;
    }
}

@media (min-width: 1200px) {
    .home .header {
        height: 49em;
    }

    .home .header .container {
        position: relative;
        top: 92px;
    }

    .home .header h1 {
        font-size: 9em;
        margin-bottom: 50px;
    }

    .home .header p {
        font-size: 1.5em;
        margin-bottom: 80px;
    }

    .home .header .btn-music {
        top: 50px;
    }

    .home .header .btn-book {
        top: 50px;
    }

    .home .main h1 {
        font-size: 4em;
    }
}

@media (max-width: 500px) {
    .music .paragraph p {
        width: 70%;
    }

    #video iframe {
        width: 320px;
        height: 200px;
    }
}

@media (min-width: 768px) and (min-height: 546px) {
    .music .header h1 {
        font-size: 6em;
    }
}

@media (min-width: 1280px)  and (min-height: 546px) {
    .music .header h1 {
        font-size: 8.5em;
    }

    .music .header h4 {
        font-size: 1.5vw;
    }
}

@media (min-height: 1200px) {
    .music .music-top {
        height: 60vh;
    }
}

@media (min-height: 1000px) {
    .image-page {
        height: 90vh;
    }
}

@media (max-width: 450px) {
    .gigs .header h1 {
        font-size: 17vw;
    }

    .gigs .header #subhead {
        font-size: 4vw;
    }

    .gigs .calendar {
        margin: 50px 20px;
    }

    .gigs .calendar .box {
        width: 60%;
    }

    .gigs .calendar .box .date h3 {
        font-size: 5vw;
    }

    .gigs .calendar .box .where h2 {
        font-size: 6vw;
    }

    #lift {
        margin-top: 50px;
    }
}

@media (min-width: 451px) and (max-width: 890px) {
    .gigs .header h1 {
        font-size: 14vw;
    }

    .gigs .header #subhead {
        font-size: 2vw;
    }

    .gigs .calendar {
        margin: 50px 20px;
    }

    .gigs .calendar .box {
        width: 40%;
    }

    .gigs .calendar .box .date h3 {
        font-size: 3vw;
    }

    .gigs .calendar .box .where h2 {
        font-size: 4vw;
    }

    #lift {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    #lift {
        position: relative;
        bottom: 92px;
    }

    #lift p {
        margin-bottom: -50px;
    }
}

@media (min-width: 1280px) {
    #lift p {
        margin-bottom: 50px;
    }
}

@media (min-width: 1920px) {
    .gigs .calendar .box .where h2 {
        font-size: 1.5vw;
    }
}

@media (min-height: 1024px) and (max-height: 1479px) {
    .event {
        height: 110vh;
    }
}

@media (min-height: 1480px) {
    .event {
        height: 80vh;
    }
}

@media (min-height: 1920px) {
    .event {
        height: 130vh;
    }
}

@media (max-width: 920px) {
    .event .details {
        width: 92%;
    }
}

@media (min-width: 1920px) {
    .event {
        height: 120vh;
    }
}

@media (max-height: 565px) {
    .contact .header h1 {
        margin-top: 60px;
    }

    .contact .header p {
        margin-top: 30px;
    }

    .contact .header .links {
        margin-top: 92px;
    }
}

@media (max-width: 350px) {
    .contact .header h1 {
        margin-top: 80px;
    }

    #emailcirc p {
        right: 0;
    }
}

@media (max-width: 520px) {
    .contact .header h1 {
        font-size: 15vw;
        text-align: center;
    }

    .contact .header .links {
        justify-content: center;
    }

    .contact .header .links div {
        height: 80px;
        width: 80px;
    }

    .contact .mid-section .plugs {
        flex-flow: column nowrap;
    }

    .contact .mid-section .plugs .bookbox {
        min-width: 80%;
    }

    .contact .mid-section .plugs .bookbox h1 {
        font-size: 8vw;
    }

    .contact .mid-section .plugs .bookbox p {
        font-size: 4vw;
    }

    .contact .direct #phone #phonecirc, #skype #skypecirc, #emailcirc #emailcircdiv {
        height: 100px;
        width: 100px;
    }

    .contact .direct div p {
        font-size: 3.5vw;
    }

    #skype p {
        font-size: 3.5vw;
    }

    #emailcirc p {
        font-size: 2vw;
        right: 10px;
    }
}

@media (max-width: 607px) {
    .contact .header p {
        font-size: 4vw;
        margin-top: 50px;
    }
}

@media (min-width: 521px) and (max-width: 820px) {
    .contact .header p {
        font-size: 3vw;
    }

    .contact .header .links {
        justify-content: center;
    }

    .contact .header .links div {
        height: 100px;
        width: 100px;
    }

    .contact .mid-section .plugs {
        flex-flow: column nowrap;
    }

    .contact .mid-section .plugs .bookbox {
        min-width: 80%;
    }

    .contact .mid-section .plugs .bookbox h1 {
        font-size: 6vw;
    }

    .contact .mid-section .plugs .bookbox p {
        font-size: 2vw;
    }

    .contact .direct #phone #phonecirc, #skype #skypecirc, #emailcirc #emailcircdiv {
        height: 100px;
        width: 100px;
        line-height: 100px;
    }

    #phone p {
        font-size: 1.6vw;
    }

    #emailcirc p, #skype p {
        font-size: 1.4vw;
    }

    #skype p {
        letter-spacing: 1px;
    }
}

@media (min-width: 768px) and (min-height: 745px) {
    .contact .header {
        height: 60vh;
    }

    #phonecirc p {
        font-size: 1vw;
    }
}

@media (min-height: 760px) and (max-width: 850px) {
    .contact .header {
        height: 50vh;
    }
}

@media (min-width: 1500px) {
    .contact .header {
        height: 70vh;
    }
}

@media (min-width: 770px) and (max-width: 1280px) {
    .book .page {
        margin-top: -70px;
    }
}

@media (min-width: 768px) {
    .book #visa {
        position: relative;
        bottom: 15px;
        left: 25px;
    }

    .book #paypal {
        position: relative;
        bottom: 15px;
        left: 25px;
    }

    .book #submit {
        position: relative;
        left: 220px;
        top: 20px;
        width: 100px;
    }
}

@media (max-width: 670px) {
    .book-form #container {
        width: 80%;
        height: 80%;
    }
}

@media (min-height: 857px) {
    .confirm .confirm-body {
        height: 92vh;
    }
}

@media (max-width: 660px) {
    .footer .container {
        height: 180px;
    }
}
