<div class="footer">
    <div class="container">
        <div class="oursocial">
            <p>Our Social Media</p>
            <p></p>
            <span><a href="https://www.facebook.com/TheMonkees" target="_blank"><img src="media/img/facebook.png" alt="Link to Facebook"/></a></span>
            <span><a href="https://twitter.com/TheMonkees" target="_blank"><img src="media/img/twitter.png" alt="Link to Twitter"/></a></span>
            <span><a href="https://www.youtube.com/user/themonkees" target="_blank"><img src="media/img/youtube.png" alt="Link to Youtube"/></a></span>
        </div>
        <div class="ourmusic">
            <p> Our Music</p>
            <p></p>
            <a href="https://geo.itunes.apple.com/us/album/daydream-believer/id4512505?i=4512412&mt=1&app=music" target="_blank" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_music-lrg.svg) no-repeat;background-size:contain;width:120px;height:40px;" class="itunes"></a>
            <a href="https://www.amazon.com/The-Monkees/e/B000APSYTO" target="_blank" style="display:inline-block;overflow:hidden;background:url(media/img/buy3.gif) no-repeat;background-size:contain;width:120px;height:40px;" class="amazon"></a>
        </div>
    </div>
</div>
