<h1>{{ musicTitle }}</h1>
<p>{{ musicSubtitle }}</p>

<div class="music-table">
    <p>Clarksville<br>
        <audio controls>
            <source src="media/audio/Clarksville.mp3" type="audio/mpeg; codecs=mp3">
            Your browser does not support MPEG audio.
        </audio>
    </p> 
    <p>Daydream Believer<br>
        <audio controls>
            <source src="media/audio/DaydreamBeliever.mp3" type="audio/mpeg; codecs=mp3">
            Your browser does not support MPEG audio.
        </audio> 
    </p> 
    <p>I'm a Believer<br>
        <audio controls>
            <source src="media/audio/ImABeliever.mp3" type="audio/mpeg; codecs=mp3">
            Your browser does not support MPEG audio.
        </audio> 
    </p> 
    <p>Stepping Stone<br>
        <audio controls>
            <source src="media/audio/SteppingStone.mp3" type="audio/mpeg; codecs=mp3">
            Your browser does not support MPEG audio.
        </audio> 
    </p> 
</div>
