<monkees-nav></monkees-nav>

<div class="confirm">
    <div class="bookconfirm">
        <div class="header">
            <h1>{{ title }}</h1>
        </div>
        <div class="confirm-body">
            <h1>We are delighted that you consider The Monkees as worthy of enriching your event!</h1>
            <h3>We will be in contact with you shortly to provide you with a quote and arrange the next steps.</h3>
            <h3>Check out our <a class="music-link" href="#/music">Music Page</a> to refresh your memory some more...</h3>
            <a class="btn btn-primary btn-lg" href="#/music">Go To Music</a>
        </div>
    </div>
</div>

<monkees-footer></monkees-footer>
