<monkees-nav></monkees-nav>

<div class="contact">
    <div class="header">
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
        <div class="links">
            <a href="https://www.youtube.com/user/themonkees" target="_blank">
                <div id="youtube"></div>
            </a>
            <a href="https://www.facebook.com/TheMonkees" target="_blank">
                <div id="facebook"></div>
            </a>
            <a href="https://twitter.com/TheMonkees" target="_blank">
                <div id="twitter"></div>
            </a>
            <a href="https://play.google.com/store/music/artist/The_Monkees?id=An2wb6r6lbgajlnmmxtjiops3xm&hl=en" target="_blank">
                <div id="google"></div>
            </a>
        </div>
    </div>

    <div class="mid-section">
        <div class="plugs">
            <div class="bookbox">
                <h1>Book Us</h1>
                <p>Our 20+ years of experience allow us to rock and swing you<br>all around the clock.</p>
                <a class="btn btn-default btn-lg" href="#/book">Book Now</a>
            </div>
        </div>
    </div>

    <div class="direct">
        <div id="phone">
            <div id="phonecirc"></div>
            <div>
                <p>(999) 555-9999</p>
            </div>
        </div>

        <div id="skype">
            <div id="skypecirc"></div>
            <div>
                <p>the1965Monkees</p>
            </div>
        </div>

        <div id="emailcirc">
            <div id="emailcircdiv"></div>
            <div>
                <p>enquiries@themonkees.com</p>
            </div>
        </div>
    </div>
</div>

<monkees-footer></monkees-footer>
