<monkees-nav></monkees-nav>

<div class="home">
    <div class="header">
        <div class="container">
            <h1>{{ headerTitle }}</h1>
            <p>{{ headerSubtitle }}</p>
            <a class="btn btn-default btn-lg btn-music" href="#/music">OUR MEDIA</a>
            <a class="btn btn-default btn-book" href="#/book">BOOK NOW</a>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <h1>{{ mainTitle }}</h1>
            <p>{{ mainSubtitle }}</p>
            <audio controls="controls">
                <source src="media/audio/ImABeliever.mp3" type="audio/mpeg; codecs=mp3"/>
            </audio>
        </div>
    </div>
</div>

<monkees-footer></monkees-footer>